*{ 
    /* margin-top: 80px; */
    padding: 0px;
    background-color: black;
    color: white;
}
.container{
    display: flex;
}
.list{
    background-color: black;
    color:white;
    padding: 100px;
    
    
}
.nav-bar{
    display: flex;
    background-color: black;
    height:80px;
    color:white;
    align-items: center;
    margin-bottom: 60px;
    
}
.nav{
    list-style:none;
    margin: 0px 40px;
}
.nav:hover{
    cursor: pointer;
    color:rgb(212, 138, 0);
    text-decoration:dotted


}
#logo{
    height: 40px;
}

.album{
    background-color:black;
    color: white;
    margin:30px;
    width:30vw;
    height: 60vh;
    text-align: center;
    /* border: 2px solid red; */
    box-shadow: 4px 4px 10px orange;
    
   
}

.artist{
    position: relative;
    top:15vh;
    font-family: sans-serif;

    font-size: 17px;
}
.artist:hover{
    color: orange;
    text-decoration: underline;
}
.name{
    position: relative;
    top: 2vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.name:hover{
    color: orange;
}
.playicon{
    position: relative;
    bottom:12vh;
    left:12vw;
    background-color: rgba(255, 0, 0, 0);
    opacity:  0;
}
.cover{
    width:30vw;
     height:40vh;


}